@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(0, 0,0,0.84);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f5f5f5;
    padding: .625rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 90%;
}

header img#img {
    width: 4.375rem;
    height: 4.375rem;
    margin-top: 1.28rem;
}

h1#title {
    font-size: 1.5rem;
    margin-top: 2.5rem;

}

section#mainContent {
    background-color: #f5f5f5;
    border-radius: .625rem;
    margin-top: .625rem;
    width: 95%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

section#mainContent img#offIMG {
    width: 95%;
    height: 40vh;
}



section#mainContent div#boxButtons {
    height: 2.5rem;
    position: relative;
    bottom: 1.5625rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section#mainContent div#boxButtons button {
    height: 2.5rem;
    width: 35%;
    background-color: rgb(12, 112, 242);
    border: .125rem solid rgb(12, 112, 242);
    border-radius: 10px;
    color: #f5f5f5;
    
}

section#mainContent h3 {
    color: rgba(0, 0,0,0.84);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    position: relative;
    bottom: .3125rem;
    margin-bottom: 30px;
}